@page
@using ContosoCrafts.WebSite.Enums;
@using ContosoCrafts.WebSite.Services
@using ContosoCrafts.WebSite.Models
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Location.CreateModel

@{
    ViewData["Title"] = "Create page";
}

<h2>Create</h2>

<div class="container">
    <form method="post" asp-page-handler="Create">

        <!--id handled on back end-->

        <!--This section allows the user to set the new location's name-->
        <div class="form-group">
            <label asp-for="Product.Title" class="control-label"></label>
            <input asp-for="Product.Title" class="form-control" placeholder="Please provide the name of the location" required />
            <span asp-validation-for="Product.Title" class="text-danger"></span>
        </div>

        <!--This section allows the user to set the new location's Location-->
        <div class="form-group">
            <label asp-for="Product.Location" class="control-label"></label>
            <input asp-for="Product.Location" class="form-control" placeholder="Please provide the Area Location" required />
            <span asp-validation-for="Product.Location" class="text-danger"></span>
        </div>

        <!--This section allows the user to set the new location's Image url-->
        <div class="form-group">
            <label asp-for="Product.Image" class="control-label"></label>
            <input asp-for="Product.Image" class="form-control" placeholder="Please provide the image URL link" required />
            <span asp-validation-for="Product.Image" class="text-danger"></span>
        </div>

        <!--This section allows the user to set the new location's description-->
        <div class="form-group">
            <label asp-for="Product.Description" class="control-label"></label>
            <input asp-for="Product.Description" class="form-control" placeholder="Please provide anything interesting about this location" required />
            <span asp-validation-for="Product.Description" class="text-danger"></span>
        </div>

        <!--This section allows the user to set the new location's Contact Number-->
        <div class="form-group">
            <label asp-for="Product.ContactNumber" class="control-label">Contact Number</label>
            <input asp-for="Product.ContactNumber" class="form-control" placeholder="Please provide the contact number" required />
            <span asp-validation-for="Product.ContactNumber" class="text-danger"></span>
        </div>

        <!--This section allows the user to set the new location's mapping link (Embedded link)-->
        <div class="form-group">
            <label asp-for="Product.E_link" class="control-label">Embedded link</label>
            <input asp-for="Product.E_link" class="form-control" placeholder="Please provide the contact Embedded Link (Sourced from Google Maps)" required />
            <span asp-validation-for="Product.E_link" class="text-danger"></span>
        </div>
        
        <!-- This section allows the user to select from a drop down to set new location's catagory-->
        <div class="from-group">
            <label asp-for="Product.LocationCategory" class="control-label">Location Catagory</label>
            <select class="form-control"
                    asp-for="Product.LocationCategory"
                    asp-items="Html.GetEnumSelectList<LocationCategoryEnum>()">
            </select>
        </div>

        <!--ratings handled on the back end-->

        <hr/>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a class="btn btn-light" asp-page="/Location/Index">Cancel</a>
        </div>
    </form>
</div>

<!--review purpose of this code snippet-->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}