@page
@using ContosoCrafts.WebSite.Components
@using ContosoCrafts.WebSite.Pages
@using ContosoCrafts.WebSite.Enums
@model ContosoCrafts.WebSite.Pages.IndexModel


@{
    ViewData["Title"] = "Home page";
}

<div class="banner" style="background-image: url('https://images.axios.com/X4BZZHlYyevaXiKpMHZW37RSwW0=/0x153:5643x3327/1920x1080/2023/03/17/1679086220728.jpg');">
   <div class="banner-text">TRAVEL EXPLORE AND FALL IN LOVE WITH SEATTLE</div>
</div>

<form method="get" class="mb-2 my-3 card-search-section row ml-1" id="Form">
    <div class="row">
        <input class="nav-link text-dark mr-2" placeholder="Search..." asp-for="SearchProduct"/>
        <button class="btn btn-primary text-light mr-2" type="submit">Search</button>
        <a class="btn btn-light mr-2" href="/index">Clear</a>
    </div>
    <div class="ml-auto mr-1">
        <select class="form-control"
                id="searchCategory"
                asp-for="SearchCategory"
                asp-items="Html.GetEnumSelectList<LocationCategoryEnum>()">
        </select>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>  $("#searchCategory").change(function () {
        // Get the selected value of the dropdown
        var selectedValue = $(this).val();
        if (!selectedValue) {
            alert("Please select a location category");
            return;
        }
        console.log(selectedValue);
        $("#Form").submit();
    });
</script>


@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered, new { Products = Model.Products }))


<script src="_framework/blazor.server.js"></script>