@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h5 class="text-white">@ViewData["Title"]</h5>

<p class="my-4 text-white">
    Welcome to our Website!!  We are committed to protecting your privacy and ensuring the security of your personal information. 
    The data being processed internally are to remain private.
</p>